@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  /* background-color: #9db4aa; */
  /* background-color: #fff; */
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers (Safari, Chrome) */
}
